[submodule "rust/cockatiel_proto"]
	path = rust/cockatiel_proto
	url = https://github.com/vulbyte/cockatiel_proto
[submodule "cockatiel_proto"]
	path = cockatiel_proto
	url = https://github.com/vulbyte/cockatiel_proto
